*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.contenedor-padre{
    display: flex;
    flex-flow: column nowrap;
}
    .cabecera{
        background: url(../images/1reufs5emgc41.webp);
        background-attachment: center;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;   
    }
        .menu{
            background: rgba(0,0,0,0.3);
            display: flex;
            height: 100px;
            flex-flow: row nowrap;
            align-items: center;
        }
            .logo{
                flex: 1.1 auto;
            }
                .logo a{
                    color: #fff;
                    font-size: 30px;
                }
                .logo a:hover{
                    color: #ffd460;
                }
            .nav{
                background: #ea5455;
                flex: 5 1 auto;
            }
                .nav a{
                    color: #fff;
                    font-size: 13px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
                .nav a:hover{
                    color: #858585;
                }
            .rsocial{
                flex: 1 1 auto;
            }
        .texto-prin{
              height: 580px;
              display: flex;
              text-align: center;
            }
            h1{
                font-size: 21px;
                color: #fff;
                font-weight: 300;
                text-align: center;
                line-height: 2;
            }

.seccion{
    background: #000;
    display: flex;  
    flex-flow: row nowrap;
}
    .articulos{
        background: #4e4e6a;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
       
    }
    h2{
        font-size: 25px;
        text-transform: uppercase;
        
    }
        .son-articulo{
            background: #3c07ec;
            flex: 1 1 40%;
        }
            .son-articulo img{
                width: 100%;
            }
    .aside{
        background: #ea5455;
        flex: 1 1 auto  ;
        flex: auto;
    }
        .aside img{
            width: 100%;
        }
        .publicidad{
            background: #4e4e6a;
        }
.pie-pag{
        background: rgb(0, 0, 0);
    }
        .pie{
            background: aquamarine;
        }